writeup/article.aux
writeup/article.bbl
writeup/article.blg
writeup/article.fdb_latexmk
writeup/article.fls
writeup/article.log
writeup/article.out
writeup/article.pdf
writeup/article.synctex.gz
writeup/article.tex
writeup/easychair.cls
writeup/references.bib
cpu.prof
nd.test